*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color:white;
}
.wrap{
    background-image: url("../img/backgroundimg.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box1{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.number{
    font-size: 100px;
}
.superscript{
    font-size: 30px;
}
.subscript{
    font-size: 30px;
}

.box2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    font-size: small;
}
.box3{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
.cloudicon{
    font-size: 150px;
    padding-top: 10px;
}


.box4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}

.subbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
    font-size: small;
}

.lastbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; /*width allows you to make box scrollable*/

}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
    line-height: 2;
    font-size: small;
}
.box:hover{
    background-color:grey;
    width: 35px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

/* SCROLL BAR AND STYLING */
.lastbox{
    overflow: auto;
}

.lastbox::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

.lastbox::-webkit-scrollbar-track {
background:black;        /* color of the tracking area */
}

.lastbox::-webkit-scrollbar-thumb {
background-color: white;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid black;  /* creates padding around scroll thumb */
}

/* Making media responsive */
@media only screen and (min-width: 301px) and (max-width: 1000px){
    .wrap{
        width: 300px;
    }
}

@media only screen and (max-width: 300px){
    body .wrap{
        width: 100% !important;
        min-width: 150px;
    }
}
